body{
    background-color: rgb(211, 189, 160);
    text-align: center;
    background-image: url("../Assets/Images/591.png");
    font-family: 'Bubblegum Sans', cursive;
    color: white;
}
.jumbotron{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 5px;
    align-content: center;
    background-color: white;
    color: black;
}
.input-group{
    text-align: center;
    align-content: center;
    display: inline-block;
    width: 300px;
}
.btn{
    background-color: green;
    padding: 5px;
    margin: 5px;
    border: none;
}
.footy:hover{
    background-color: pink;
    border: none;
}
#footy-input{
    width: 300px;
}
#add-footy{
    /* background-color: rgb(223, 165, 175); */
}
#add-footy:hover{
    background-color: pink;
    border: none;
}
#gifHolder{
    /* background-color: green; */
    /* margin-top: 500px; */
}